<event id="{{ event.id }}" kind="{{ event.kind }}" priority="{{ event.priority }}"{% if event.stream %} stream="{{ event.stream }}"{% endif %}>
Received {{ event.age }} ({{ event.timestamp }})
{{ event.description }}

{{ event.payload }}
{% if event.person %}
<sender name="{{ event.person.name }}" memory="{{ event.person.path }}">
{{ event.person.body }}
</sender>
{% endif %}
</event>
